<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.cs160.joleary.catnip">

    <permission
        android:name="com.cs160.joleary.catnip.permission.MAPS_RECEIVE"
        android:protectionLevel="signature" />
    <uses-permission android:name="com.cs160.joleary.catnip.permission.MAPS_RECEIVE" />

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>

    <!-- Required OpenGL ES 2.0. for Maps V2 -->
    <uses-feature
        android:glEsVersion="0x00020000"
        android:required="true" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/political_2"
        android:label="@string/neo_app_name"
        android:theme="@style/AppTheme">
        <activity
            android:name=".welcomeMain"
            android:label="@string/neo_app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service android:name=".PhoneToWatchService" />
        <!-- Listeners are special services that need to be declared like below, as BIND_LISTENER -->
        <service
            android:name=".PhoneListenerService"
            android:label="@string/neo_app_name">
            <intent-filter>
                <action android:name="com.google.android.gms.wearable.BIND_LISTENER" />
            </intent-filter>
        </service>

        <activity
            android:name=".localPolitiansList"
            android:label="@string/neo_app_name" />
        <activity
            android:name=".localPolitianDetail"
            android:label="@string/title_activity_local_politian_detail" />
        <activity
            android:name=".election2012"
            android:label="@string/title_activity_election2012"></activity>
        <!--
             ATTENTION: This was auto-generated to add Google Play services to your project for
             App Indexing.  See https://g.co/AppIndexing/AndroidStudio for more information.
        -->
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
        <meta-data
            android:name="comm.google.android.geo.API_KEY"
            android:value="AIzaSyBOVlZY80UtRo0YIHodhtN8sHWfeyjgt1g"/>
        <!-- Goolge API Key -->
        <meta-data
            android:name="com.google.android.maps.v2.API_KEY"
            android:value="AIzaSyCJha-vRe_XEh7_nApUi_DUYeXjms9hzf8" />
        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="775d1833aa43faa7ffeefcf86a8bb3b46e66b763" />
    </application>

</manifest>
